<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="big">
        <div class="container">
            <div class="na">
                <div class="back-button">
                    <button [routerLink]="'/welcome'">Back</button>
                </div>
            </div>
            <div class="two"></div>
            <div class="set"></div>
        </div>
        <div class="log">
            <div class="aee"></div>
            <div class="login">
                <div class="input-grouphead">
                    <img src="/assets/girl.png" class="image">
                    <h1 class="form-header">Login</h1>
                    <div class="input-group">
                        <form (ngSubmit)="adduser()" class="login-form">
                            <div class="email">
                                <div class="heademail"><mat-icon>account_circle</mat-icon></div>
                                <input id="email" type="text" class="input-fieldemail" placeholder="xxxxx@gmail.com" [(ngModel)]="email" name="email" required (ngModelChange)="validateEmail()">
                                <div *ngIf="emailErrorMessage" class="error-message">{{ emailErrorMessage }}</div>
                            </div>
                            <div class="password">
                                <div class="headpass"><mat-icon>lock</mat-icon></div>
                                <input id="password" type="password" class="input-fieldpass" placeholder="กรุณากรอกรหัสผ่าน" [(ngModel)]="password" name="password" required (ngModelChange)="validatePassword()">
                                <div *ngIf="passwordErrorMessage" class="error-message">{{ passwordErrorMessage }}</div>
                            </div>
                            <button type="submit" class="login-button">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="san"></div>
        </div>
        <div class="last">
            <div class="first"></div>
            <div class="second"></div>
            <div class="third"></div>
        </div>
    </div>
</body>
</html>
