<div class="head" mat-dialog-title>
  <h1>Time Zone!</h1>
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="content">
  <div>Timezone : {{data.timezone}}</div>
  <div>Abbreviation : {{data.abbreviation}}</div>
  <div>Datetime : {{data.datetime}}</div>
  <div>Day of week : {{data.day_of_week}}</div>
  <div>Day of year : {{data.day_of_year}}</div>
  <div>UTC datetime : {{data.utc_datetime}}</div>
  <div>UTC offset : {{data.utc_offset}}</div>
  <div>Week number : {{data.week_number}}</div>
</div>
