.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333437;
    color: #fff;
    padding: 10px 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    font-size: 15px;
}

.nav-links li {
    margin-right: 40px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.logout-button button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button button:hover {
    background-color: #d32f2f;
}

.logo {
    width: 50px; 
    height: auto;
    place-self: center;
}
